// Colors
$primary-color: #fff;
$secondary-color: #000;
$Manrope:  #212333;
$BlancG: #07070A;
$Urbanist: #4D4F5C;
$DMSans: #A4A7AE;
$Inter: #0D0E14;
$borderC: #A6A7AD;
$buttbg: #96EA63;


// Responsive
$iphone-portrait: 375px;
$mobile-width: 768px;
$tablet-width: 1024px;
$sm-screen-width: 600px;
$md-screen-width: 900px;
$lg-screen-width: 1200px;
$xl-screen-width: 1536px;


// fonts
$font-Inter: "Inter";
$font-Inter-Bold: "Inter-Bold";
$font-Inter-ExtraBold: "Inter-ExtraBold";
$font-BlankGroove: "BlankGroove";
$font-BlankGroove-Bold: "BlankGroove-Bold";
$font-BlankGroove-XtraBold: "BlankGroove-XtraBold";
$font-BlankGroove-XtraBold: "BlankGroove-XtraBold";
$font-DMSans: "DMSans";
$font-DMSans-Bold: "DMSans-Bold";
$font-DMSans-XtraBold: "DMSans-XtraBold";
$font-DMSans-black: "DMSans-black";
$font-Manrope: "Manrope";
$font-Manrope-Bold: "Manrope-Bold";
$font-Urbanist: "Urbanist";
$font-Urbanist-Bold: "Urbanist-Bold";
$font-Urbanist-XtraBold: "Urbanist-XtraBold";
