@use "../../Styles/mixins" as *;
@use "../../Styles//variables" as *;

.pricCont{
    @include flex;
    @include flex-col;
    @include gap-y-6;
    padding: 5em 2em;
    @include w-full;
    @include large-screen{
        padding: 0em 0.5em;
    }
}

.pricCont > div:nth-child(1){
    @include w-full;
    text-align: center;
    font-family: $font-Manrope-Bold;
    letter-spacing: 1px;
}

.pricCont > div:nth-child(2){
    @include w-full;
    text-align: center;
}

.pricCont > div:nth-child(2) > div:nth-child(1){
    color: $Inter;
    font-family: $font-DMSans;
    letter-spacing: 1px;
    font-size: 24px;
    @include tablet-screen{
        font-size: 18px;
    }
}

.priceSwitch{
    @include flex;
    @include flex-row;
    @include justify-center;
    @include w-full;
    padding: 1em 0em;
}

.customSeg{
    font-family: $font-Manrope-Bold;
    font-size: 16px;
    @include mobile-screen{
        font-size: 14px;
    }
}

.plansCont{
    @include flex;
    @include flex-row;
    @include justify-between;
    @include w-full;
    padding: 0em 6em;
    @include gap-x-6;
    @include large-screen{
        padding: 0em 0.5em;
        @include gap-x-3;
    }
    @include mobile-screen{
        @include flex-row-vp;
        @include gap-y-6;
    }
}

.plansCont > div:nth-child(1){
    @include flex;
    @include flex-col;
    @include gap-y-3;
    @include w-full;
    background: $primary-color;
    border-radius: 12px;
    border: 1px solid $borderC;
    backdrop-filter: blur(12.9px);
    padding: 1em;
}

.plansCont > div:nth-child(1) > div:nth-child(1){
    font-size: 18px;
    font-family: $font-Manrope-Bold;
    letter-spacing: 1px;
    color: $Inter;
    @include tablet-screen{
        font-size: 14px;
    }
}

.plansCont > div:nth-child(1) > div:nth-child(2){
    display: inline-flex;
    font-family: $font-Manrope-Bold;
    font-size: 16px;
    color: $Urbanist;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.6em 0em;
}

.plansCont > div:nth-child(1) > div:nth-child(2) > div{
    font-family: $font-Manrope-Bold;
    color: $Inter;
    font-size: 20px;
}

.plansCont > div:nth-child(1) > div:nth-child(3){
    color: $Urbanist;
    font-family: $font-Manrope-Bold;
    font-size: 16px;
    @include large-screen{
        font-size: 14px;
    }
}

.plansCont > div:nth-child(1) > div:nth-child(4){
    padding: 0.6em 0em;
}

.plansCont > div:nth-child(1) > div:nth-child(5){
    @include flex;
    @include flex-col;
    @include gap-y-6;
    @include w-full;
    padding-top: 3em;
    padding-bottom: 1em;
    @include large-screen{
        padding-top: 1em;
    }
}

.plansCont > div:nth-child(1) > div:nth-child(5) > div{
    @include flex;
    @include flex-row;
    @include gap-x-2;
    line-height: 1em;
}

.plansCont > div:nth-child(1) > div:nth-child(5) > div > div:nth-child(2){
    font-family: $font-Manrope;
    font-size: 15px;
    letter-spacing: 1px;
    @include tablet-screen{
        font-size: 14px;
    }
}

.navButtn{
    font-family: $font-Manrope;
    @include tablet-screen{
        padding: 0.3em 1.2em !important;
    }
}

.plansCont > div:nth-child(2){
    @include flex;
    @include flex-col;
    @include gap-y-3;
    @include w-full;
    background: $primary-color;
    border-radius: 12px;
    border: 1px solid $borderC;
    backdrop-filter: blur(12.9px);
    padding: 1em;
}

.plansCont > div:nth-child(2) > div:nth-child(1){
    font-size: 18px;
    font-family: $font-Manrope-Bold;
    letter-spacing: 1px;
    color: $Inter;
    @include tablet-screen{
        font-size: 14px;
    }
}

.plansCont > div:nth-child(2) > div:nth-child(2){
    display: inline-flex;
    font-family: $font-Manrope-Bold;
    font-size: 16px;
    color: $Urbanist;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.6em 0em;
}

.plansCont > div:nth-child(2) > div:nth-child(2) > div{
    font-family: $font-Manrope-Bold;
    color: $Inter;
    font-size: 20px;
}

.plansCont > div:nth-child(2) > div:nth-child(3){
    color: $Urbanist;
    font-family: $font-Manrope-Bold;
    font-size: 16px;
    @include large-screen{
        font-size: 14px;
    }
}

.plansCont > div:nth-child(2) > div:nth-child(4){
    padding: 0.6em 0em;
}

.plansCont > div:nth-child(2) > div:nth-child(5){
    @include flex;
    @include flex-col;
    @include gap-y-6;
    @include w-full;
    padding-top: 3em;
    padding-bottom: 1em;
    @include large-screen{
        padding-top: 1em;
    }
}

.plansCont > div:nth-child(2) > div:nth-child(5) > div{
    @include flex;
    @include flex-row;
    @include gap-x-2;
    line-height: 1em;
}

.plansCont > div:nth-child(2) > div:nth-child(5) > div > div:nth-child(2){
    font-family: $font-Manrope;
    font-size: 15px;
    letter-spacing: 1px;
    @include tablet-screen{
        font-size: 14px;
    }
}

.plansCont > div:nth-child(3){
    @include flex;
    @include flex-col;
    @include gap-y-3;
    @include w-full;
    background: $primary-color;
    border-radius: 12px;
    border: 1px solid $borderC;
    backdrop-filter: blur(12.9px);
    padding: 1em;
}

.plansCont > div:nth-child(3) > div:nth-child(1){
    font-size: 18px;
    font-family: $font-Manrope-Bold;
    letter-spacing: 1px;
    color: $Inter;
    @include tablet-screen{
        font-size: 14px;
    }
}

.plansCont > div:nth-child(3) > div:nth-child(2){
    display: inline-flex;
    font-family: $font-Manrope-Bold;
    font-size: 16px;
    color: $Urbanist;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.6em 0em;
}

.plansCont > div:nth-child(3) > div:nth-child(2) > div{
    font-family: $font-Manrope-Bold;
    color: $Inter;
    font-size: 20px;
}

.plansCont > div:nth-child(3) > div:nth-child(3){
    color: $Urbanist;
    font-family: $font-Manrope-Bold;
    font-size: 16px;
    @include large-screen{
        font-size: 14px;
    }
}

.plansCont > div:nth-child(3) > div:nth-child(4){
    padding: 0.6em 0em;
}

.plansCont > div:nth-child(3) > div:nth-child(5){
    @include flex;
    @include flex-col;
    @include gap-y-6;
    @include w-full;
    padding-top: 3em;
    padding-bottom: 1em;
    @include large-screen{
        padding-top: 1em;
    }
}

.plansCont > div:nth-child(3) > div:nth-child(5) > div{
    @include flex;
    @include flex-row;
    @include gap-x-2;
    line-height: 1em;
}

.plansCont > div:nth-child(3) > div:nth-child(5) > div > div:nth-child(2){
    font-family: $font-Manrope;
    font-size: 15px;
    letter-spacing: 1px;
    @include tablet-screen{
        font-size: 14px;
    }
}

